# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# YouTube API & Tokens
client_secret.json
token.json
storage/*.json
storage/*.db
.storage/

# Build & Compilation
build/
dist/
*.spec

# Streamlabs
socket_token.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Packaging and Build Utilities
build.py
installer.iss
README_INSTALL.txt
